<!DOCTYPE html>
<html>
<head>
  <title>Shut Up, Seattle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "<h1>Shut Up, Seattle</h1>".html_safe, "http://shutupseattle.com/#/", {class: "navbar-brand"} %>
      </div>
      <div class="navbar-text navbar-right">
        <%= link_to "About", "http://shutupseattle.com/#/about", {class: "navbar-link"} %>
        <%= link_to "API", root_path, {class: "navbar-link"} %>
        <%= link_to "Contact", "http://shutupseattle.com/#/contact", {class: "navbar-link"} %>
      </div>
    </div>
  </div>
  <div class="container-fluid main">
    <%= yield %>
  </div>

</body>
</html>
